* {
    box-sizing: border-box;
    background: #112;
}

header {
    text-align: center;
}

body {
    margin: 10px;
    font-family: Tahoma, sans-serif;
    padding: 10px;
    color: #f2dfe2;
}

.profile {
    border: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.profile img {
    border-radius: 80px;
    height: 200px;
    width: 200px;
    margin: 5px;
}

.myInfo {
    text-align: left;
}